{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container rounded mt-3 mb-3 p-3">
    <h3 class="text-center mt-3 mb-3">Book a new appointment</h3>
    <div class="border rounded p-4">
        <form method="POST">
        {% csrf_token %}
        {{ form | crispy }}
        <div class="mt-3 mb-3" style="height: 100px; display: flex;justify-content: center;align-items: center;">
            <input type="submit" value="Confirm" class="btn btn-primary btn-lg w-25">
        </div>
    </form>
    </div>
</div>
{% endblock content %}